%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
  {log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", {branch, "master"}}},
  {protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", {branch, "master"}}}
  ]
 }.
{deps_dir, "3rd"}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
